<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @bid.item %>
</p>

<p>
  <strong>Value:</strong>
  <%= @bid.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.user %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
